--index-url https://download.pytorch.org/whl/cu118
torch
torchvision
torchaudio
onnxruntime-gpu
opencv-python-headless
numpy
matplotlib
tqdm
pyslam @ git+https://github.com/uoip/pyslam.git
streamlit
pyngrok
gdown